<!-- <h3 fxLayoutAlign="center center"></h3> Edit Job Application</h3> -->
<form [formGroup]="jobApplicationForm" (ngSubmit)="edit()">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Company</mat-label>
            <input matInput formControlName="company">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Location</mat-label>
            <mat-select formControlName="location">
                <mat-option *ngFor="let country of Countries" [value]="country.country">{{country.country}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let statusOption of StatusOptions" [value]="statusOption">{{statusOption}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Application Date</mat-label>
            <input matInput type="date" formControlName="application_date">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Response Date</mat-label>
            <input matInput type="date" formControlName="response_date">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Contact</mat-label>
            <textarea matInput formControlName="contact"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Position</mat-label>
            <textarea matInput formControlName="position"></textarea>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

    </div>
    <mat-card-actions fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="accent" [disabled]="jobApplicationForm.invalid">Update</button>
    </mat-card-actions>

</form>