mat-sidenav-container {
    height: 100vh !important;
}
.non-side-var {
    overflow-x: hidden !important;
}
.mat-divider{
    border-top: 1px solid black !important;
    text-decoration: none !important;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}