<mat-sidenav-container class="non-side-var">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span> Job Registry App</span>
      <span class="filler">
      </span>
      <span *ngIf="isLogged===true">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="options">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <span>LOGOUT</span>
              </button>
            </mat-menu>
      </span>     


    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>